<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GetDataDicomClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="OrthancReceive" value="localhost"/>
    <add key="PortOrthancReceive" value="8043"/>
    <add key="UserOrthancReceive" value="kin"/>
    <add key="PWOrthancReceive" value="kinadmin"/>
    <add key="OrthancData" value="49.0.65.128"/>
    <add key="PortOrthancData" value="8042"/>
    <add key="UserOrthancData" value="kin"/>
    <add key="PWOrthancData" value="kinadmin"/>
    <add key="IPSocketServer" value="49.0.65.128"/>
    <add key="PortSocketServer" value="28066"/>
    <add key="StartUpApp" value="1"/>
    <add key="AutoDelete" value="1"/>
    <add key="DrevieMonitor" value="I:\"/>
    <add key="NotiSpace" value="80"/>
    <add key="LastUpdate" value=""/>
    <add key="ConnectName" value="1"/>
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
